<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1 | CMI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <div class="content">
        <form id="lenghtForm" class="lengthForm" action="/api/ejercicio1" method="POST">
            Selecciona la longitud del top: 
            <input style="width: 4rem;" type="number" id="length" name="length" value="10" min="1" max="999">
            <input type="submit" hidden />
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="content ejercicio1">

    </div>

    <div class="content ejercicio2">

    </div>

</body>

<script>

    ej1 = document.querySelector('.ejercicio1');
    ej2 = document.querySelector('.ejercicio2');

    document.querySelector('.lengthForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var lengthValue = document.getElementById('length').value;

        fetch('/api/ejercicio1', {
            method: 'POST',
            body: lengthValue
        }) .then(response => {
            response.json().then(data => {
                // print every entry of the json list
                data.forEach(element => {
                    cnt.innerHTML += '<p>' + element + '</p>';
                });
            })
        })
    })


</script>
</html>