<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2 | CMI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <div class="content">
        Mostrar datos que han pulsado <input class="bmas selected" type="button" value="+"><input class="bmenos" type="button" value="-"> del 50% de veces correos de spam 
        <br>
        <form style="margin-top: 5px;" id="lenghtForm" class="lengthForm" action="/api/ejercicio2" method="POST">
            Selecciona la longitud del top: 
            <input style="width: 4rem;" type="number" id="length" name="length" value="10" min="1" max="999">
            <input type="submit" hidden />
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="content ejercicio1">

    </div>

</body>

<script>

    bt1 = document.querySelector('.bmas');
    bt2 = document.querySelector('.bmenos');
    ej1 = document.querySelector('.ejercicio1');

    bt1.addEventListener('click', function(event) {
        bt1.classList.add('selected');
        bt2.classList.remove('selected');
    });

    bt2.addEventListener('click', function(event) {
        bt2.classList.add('selected');
        bt1.classList.remove('selected');
    });

    document.querySelector('.lengthForm').addEventListener('submit', function(event) {

        event.preventDefault();

        var lengthValue = document.getElementById('length').value;

        let bSelected = document.querySelector('.selected').value;
        bSelected = bSelected == '+' ? 'true' : 'false';

        data = new FormData();
        data.append('length', lengthValue);
        data.append('above_fifty', bSelected);

        fetch('/api/ejercicio2', {
            method: 'POST',
            body: data,
        }).then(response => {
            response.json().then(data => {

                ej1 = `<h1>Top ${lengthValue} usuarios más críticos</h1>`;

                users = data['users'];
                users.forEach((user, index) => {
                    ej1 += `<p>${index + 1}. ${user[0]} con ${user[1]}.</p>`;
                });

            });
        })
    });

</script>
</html>