<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 5 | CMI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <div class="content">
        <form action="/ejercicio5" method="POST">
            <label for="username">Username:</label>
            <input style="margin-bottom: 10px;" type="text" id="username" name="username" value="Usuario" readonly>
            <br>
            <label for="totalMails">Emails totales:</label>
            <input style="margin-bottom: 10px;" style="width: 4rem;" type="number" id="totalMails" name="totalMails" value="10" min="1" max="999">
            <br>
            <label for="phishingMails">Emails de phishing:</label>
            <input style="margin-bottom: 10px;" style="width: 4rem;" type="number" id="phishingMails" name="phishingMails" value="10" min="1" max="999">
            <br>
            <label for="clickedMails">Emails clickados:</label>
            <input style="margin-bottom: 10px;" style="width: 4rem;" type="number" id="clickedMails" name="clickedMails" value="10" min="1" max="999">
            <br>
            <label for="iamodel">Model de IA:</label>
            <select style="margin-bottom: 10px;" name="iamodel" id="iamodel">
                <option value="linear">Linear</option>
                <option value="tree">Decision Tree</option>
                <option value="forest">Random Forest</option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>


</body>

</html>