<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons-minecraft-0.5.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="content">

        <a class="index" href="/ejercicio1"><i style="margin-bottom: 18px;" class="icon-minecraft icon-minecraft-wooden-pickaxe"></i> <h1 style="display: inline">Ejercicio 1</h1></a>
        <p style="margin-bottom: 3rem;">Ver el top de usuarios más críticos y el de páginas desactualizadas.</p>

        <a class="index" href="/ejercicio2"><i style="margin-bottom: 18px;" class="icon-minecraft icon-minecraft-stone-pickaxe"></i> <h1 style="display: inline">Ejercicio 2</h1></a>
        <p style="margin-bottom: 3rem;">Top de usuarios críticos comparados con los que han clickado en correos de spam.</p>

        <a class="index" href="/ejercicio3"><i style="margin-bottom: 18px;" class="icon-minecraft icon-minecraft-iron-pickaxe"></i> <h1 style="display: inline">Ejercicio 3</h1></a>
        <p style="margin-bottom: 3rem;">Uso de la API de cve-search.</p>

        <a class="index" href="/ejercicio4"><i style="margin-bottom: 18px;" class="icon-minecraft icon-minecraft-diamond-pickaxe"></i> <h1 style="display: inline">Ejercicio 4</h1></a>
        <p style="margin-bottom: 3rem;">Comprobar si la password ha sido breached.</p>

        <a class="index" href="/ejercicio5"><i style="margin-bottom: 18px;" class="icon-minecraft icon-minecraft-netherite-pickaxe"></i> <h1 style="display: inline">Ejercicio 5</h1></a>
        <p style="margin-bottom: 3rem;">Entreamiento de modelos IA que detectan si un usuario es crítico o no.</p>

  </div>
</body>
</html>